name: CI
on: [ push, pull_request ]
jobs:
  build:

    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        node-version: [ 20 ]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Project setup
      uses: bpmn-io/actions/setup@latest
    - name: Build
      if: runner.os == 'Linux'
      env:
        COVERAGE: 1
        TEST_BROWSERS: Firefox,ChromeHeadless
      run: xvfb-run npm run all
    - name: Build
      if: runner.os != 'Linux'
      env:
        TEST_BROWSERS: ChromeHeadless
      run: npm run all
    - name: Import Secrets
      if: runner.os == 'Linux'
      id: secrets
      uses: hashicorp/vault-action@v3.0.0
      with:
        url: ${{ secrets.VAULT_ADDR }}
        method: approle
        roleId: ${{ secrets.VAULT_ROLE_ID }}
        secretId: ${{ secrets.VAULT_SECRET_ID }}
        exportEnv: false
        secrets: |
          secret/data/products/desktop-modeler/camunda/camunda-bpmn-js CODECOV_TOKEN;
    - name: Upload coverage
      if: runner.os == 'Linux'
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
      env:
        CODECOV_TOKEN: ${{ steps.secrets.outputs.CODECOV_TOKEN }}
